<template>
  <div class="good">
    <div class="good-1">
      <div class="good-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
    </div>
    <div class="home-main-worp">
      <el-alert
        title="添加商品信息"
        show-icon
        type="info"
        center
        :closable="false"
      >
      </el-alert>
      <el-steps
        style="margin-top: 10px"
        :active="active"
        finish-status="success"
        direction="horizontal"
        align-center
      >
        <el-step title="基本信息"></el-step>
        <el-step title="商品参数"></el-step>
        <el-step title="商品属性"></el-step>
        <el-step title="商品图片"></el-step>
        <el-step title="商品内容"></el-step>
      </el-steps>
      <el-form
        :label-position="labelPosition"
        ref="AddGoods"
        :model="AddGoods"
        :rules="rules"
      >
        <el-tabs @click="aname" v-model="aname" :tab-position="tabPosition">
          <el-tab-pane label="基本信息">
            <el-form-item label="商品名称" prop="goods_name">
              <el-input v-model="AddGoods.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" prop="goods_price">
              <el-input v-model="AddGoods.goods_price"></el-input>
            </el-form-item>
            <el-form-item label="商品重量" prop="goods_weight">
              <el-input v-model="AddGoods.goods_weight"></el-input>
            </el-form-item>
            <el-form-item label="商品数量" prop="goods_number">
              <el-input v-model="AddGoods.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类">
              <el-cascader
                v-model="AddGoods.goods_cat"
                :props="prosdat"
                :options="options"
                @change="GoodsSort"
              ></el-cascader>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品参数">
            <el-form-item
              v-for="item in dynamics"
              :key="item.attr_id"
              :label="item.attr_name"
            >
              <el-checkbox-group v-model="item.attr_vals">
                <el-checkbox
                  :label="val"
                  v-for="(val, key) in item.attr_vals"
                  :key="key"
                  border
                ></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品属性">
            <el-form-item
              v-for="tag in Jynamics"
              :key="tag.attr_id"
              :label="tag.attr_name"
            >
              <el-input v-model="tag.attr_vals"> </el-input>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品图片">
            <el-upload
              class="upload-demo"
              action="http://localhost:8889/api/private/v1/upload"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :headers="headerObj"
              list-type="picture"
              :on-success="handleSuccess"
            >
              <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
          </el-tab-pane>
          <el-tab-pane label="商品内容">
              <!-- 富文本编辑器 -->
            <quill-editor v-model="AddGoods.goods_introduce"></quill-editor>
            <!-- 添加商品 -->
            <el-button type="primary" @click="submitForm('AddGoods')"
              >添加商品</el-button
            >
          </el-tab-pane>
        </el-tabs>
      </el-form>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import store from "../../store/index"
export default {
  name: "goods",
  data() {
    return {
      AddGoods: {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        pics: [],
        attrs: [],
        goods_cat: [],
      },
      fileList: [],
      attr_vals: [],
      active: 0,
      aname: "0",
      tabPosition: "left",
      breadCrumbObj: {
        second: "商品管理",
        third: "商品列表",
      },
      formLabelAlign: {},
      labelPosition: "top",
      prosdat: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
      },
      options: [],
      dynamics: [],
      Jynamics: [],
      sel: "",
      cId: null,
      rules: {
        goods_name: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
        ],
        goods_price: [
          { required: true, message: "请输入商品价格", trigger: "blur" },
        ],
        goods_number: [
          { required: true, message: "请输入商品数量", trigger: "blur" },
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" },
        ],
      },
        headerObj: {
        Authorization: store.state.token
      },
      picPreviewPath: '',
      // 图片预览对话框
      previewDialogVisible: false
    };
  },
  watch: {
    aname: function () {
      this.active = parseInt(this.aname) + 1;
      this.cId = this.AddGoods.goods_cat;
      if (this.aname == "1") {
        if (this.cId.length < 1) {
          this.$message.error("请选择商品的三级分类");
        } else {
          this.sel = "many";
          this.getaaa();
        }
      }
      if (this.aname == "2") {
        if (this.cId.length < 1) {
          this.$message.error("请选择商品的三级分类");
        } else {
          this.sel = "only";
          this.getaaa();
        }
      }
    },
    contentDefault: function () {
      this.content = this.contentDefault;
    },
  },
  methods: {
       // 处理图片预览
    handlePreview (file) {
      this.picPreviewPath = file.response.data.url
      this.previewDialogVisible = true
    },
    // 处理移除图片的操作
    handleRemove (file) {
      // 1.获取将要删除图片的临时路径
      const filePath = file.response.data.tmp_path
      // 2.从pics数组中，找到图片对应的索引值
      const i = this.AddGoods.pics.findIndex(x => x.pic === filePath)
      // 3.调用splice方法，移除图片信息
      this.AddGoods.pics.splice(i, 1)
      console.log(this.AddGoods.pics)
    },
    // 监听图片上传成功事件
    handleSuccess (response) {
      // 1.拼接得到一个图片信息对象 临时路径
      const picInfo = { pic: response.data.tmp_path }
      // 2.将图片信息对象，push到pics数组中
      this.AddGoods.pics.push(picInfo)
      console.log(this.AddGoods.pics)

    },
    GoodsSort() {},
    async getaaa() {
      const Index = this.cId.length - 1;
      const res1 = await this.$axios(
        `categories/${this.cId[Index]}/attributes?sel=${this.sel}`
      );
      if (this.sel == "many") {
        res1.data.forEach((item) => {
          item.attr_vals = item.attr_vals.split(",");
        });
        this.dynamics = res1.data;
      } else {
        this.Jynamics = res1.data;
      }
      console.log(this.dynamics);
    },
    async getOption() {
      const res = await this.$axios("categories?type=3");
      this.options = res.data;
    },
    async submitForm(val) {
      this.$refs[val].validate(async (valid) => {
        if (valid) {
          const form = JSON.parse(JSON.stringify(this.AddGoods));
          form.goods_cat = form.goods_cat.join(",");
          // 处理动态参数
          this.dynamics.forEach((item) => {
            const newInfo = {
              attr_id: item.attr_id,
              attr_value: item.attr_vals.join(","),
            };
            this.AddGoods.attrs.push(newInfo);
          });
          // 处理静态属性
          this.Jynamics.forEach((item) => {
            const newInfo = {
              attr_id: item.attr_id,
              attr_value: item.attr_vals,
            };
            this.AddGoods.attrs.push(newInfo);
          });
          form.attrs = this.AddGoods.attrs;
          const res = await this.$axios("goods", form, "POST");
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
          this.$router.push({ name: "Goods" });
        } else {
          return false;
        }
      });
    },
  },
  created() {
    this.getOption();
  },
};
</script>

<style lang="scss" scoped>
.quill_box {
  .ql-toolbar.ql-snow {
    border-color: #dcdfe6;
  }
  .ql-container {
    height: 200px !important;
    border-color: #dcdfe6;
  }
  .ql-snow .ql-picker-label::before {
    position: relative;
    top: -10px;
  }
  .ql-snow .ql-color-picker .ql-picker-label svg,
  .ql-snow .ql-icon-picker .ql-picker-label svg {
    position: relative;
    top: -6px;
  }
}
.el-input {
  width: 100%;
}
.good {
  background-color: white;
  padding: $px15;
  .good-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .good-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>