<template>
  <div class="roles">
    <div class="roles-1">
      <div class="roles-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
    </div>
    <div class="pad">
      <el-button type="success" plain @click="dialogVisible = true"
        >添加分类</el-button
      >
    </div>
    <el-dialog title="添加商品分类" :visible.sync="dialogVisible" width="49%">
      <el-form
        ref="addClassify"
        :model="addClassify"
        :rules="rules"
        label-position="right"
        label-width="80px"
      >
        <el-form-item label="分类名称" prop="cat_name">
          <el-input v-model="addClassify.cat_name"></el-input>
        </el-form-item>
        <el-form-item label="分类">
          <el-cascader
            v-model="addClassify.cat_pid"
            :props="propdata"
            :options="options"
          ></el-cascader>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitAdd('addClassify')"
          >确 定</el-button
        >
      </span>
    </el-dialog>
    <div class="home-main-worp">
      <el-table
        highlight-current-row
        :data="tableDatas.result"
        style="width: 100%; margin-bottom: 20px"
        row-key="cat_id"
        :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
      >
        <el-table-column prop="cat_name" label="分类名称" width="350">
        </el-table-column>
        <el-table-column prop="cat_level" label="级别" width="180">
          <template slot-scope="slot">
            <p v-if="slot.row.cat_level == '0'">一级</p>
            <p v-else-if="slot.row.cat_level == '1'">二级</p>
            <p v-else-if="slot.row.cat_level == '2'">三级</p>
          </template>
        </el-table-column>
        <el-table-column prop="cat_deleted" label="是否有效" width="350">
          <template slot-scope="slot">
            <p v-if="slot.row.cat_deleted == false">有效</p>
            <p v-else>无效</p>
          </template>
        </el-table-column>

        <el-table-column label="操作">
          <template slot-scope="slot">
            <el-button
              type="primary"
              icon="el-icon-edit"
              circle
              size="small"
              plain
              @click="UpDopen(slot.row)"
            ></el-button>

            <el-button
              type="danger"
              icon="el-icon-delete"
              circle
              size="small"
              plain
              @click="delClassify(slot.row)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-dialog title="修改商品分类" :visible.sync="delVisible" width="49%">
        <el-input v-model="UpD.cat_name" placeholder=""></el-input>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delVisible = false">取 消</el-button>
          <el-button type="primary" @click="UpdateClassify()"
            >确 定</el-button
          >
        </span>
      </el-dialog>
      <div class="block">
        <el-pagination
          :current-page="params.pagenum"
          :page-sizes="[1, 3, 5, 10]"
          :page-size="params.pagesize"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager,next,jumper"
          :total="tableDatas.total"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Roles",
  data() {
    return {
      UpD:{
        cat_id : '',
        cat_name : '',
      }
      ,
      delVisible: false,
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10,
      },
      addClassify: {
        cat_name: "",
        cat_pid: "",
        cat_level: "",
      },
      tableDatas: {
        result: [],
      },
      breadCrumbObj: {
        second: "权限管理",
        third: "角色列表",
      },
      dialogVisible: false,
      options: [],
      propdata: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
      },
      rules: {
        cat_name: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
        ],
      },
    };
  },
  methods: {
    // 页面跳转
    async handleSizeChange(val) {
      this.params.pagesize = val;
      setTimeout(async () => {
        const res = await this.$axios("categories?type=3", {}, "GET", {
          ...this.params,
          pagesize: val,
        });
        this.tableDatas = res.data;
      }, 100);
    },
    // 每条数据发生变化，获取分类列表
    async handleCurrentChange(val) {
      this.params.pagenum = val;
      const res = await this.$axios("categories?type=3", {}, "GET", {
        ...this.params,
        pagenum: val,
      });
      this.tableDatas = res.data;
    },
    // 获取分类列表
    UpDopen(row){
        this.delVisible = true
        this.UpD = row
    },
    async getRoles() {
      const res = await this.$axios(
        "categories?type=3",
        {},
        "GET",
        this.params
      );
      this.tableDatas = res.data;
      console.log(res);
    },
    async Getoptions() {
      const res1 = await this.$axios("categories?type=2");
      this.options = res1.data;
    },
    async UpdateClassify() {
      const res = await this.$axios(`categories/${this.UpD.cat_id}`,{
        "cat_name" :this.UpD.cat_name
      },"PUT",)
      this.getRoles();
      this.delVisible = false
      this.$message({
        type: "success",
        message: res.meta.msg,
      });
    },
    async delClassify(row) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true,
      })
        .then(async () => {
          const res = await this.$axios(
            `categories/${row.cat_id}`,
            {},
            "DELETE"
          );
          this.getRoles();
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    submitAdd(val) {
      this.$refs[val].validate(async (valid) => {
        if (valid) {
          if (this.addClassify.length == 1) {
            this.addClassify.cat_level = "1";
          } else {
            this.addClassify.cat_level = "2";
            const arrs = this.addClassify.cat_pid;
            this.addClassify.cat_pid = arrs[arrs.length - 1];
          }
          const addres = await this.$axios(
            "categories",
            this.addClassify,
            "POST"
          );
          this.$message({
            message: addres.meta.msg,
            type: "success",
          });
          this.dialogVisible = false;
          this.getRoles();
        }
      });
    },
  },

  created() {
    this.getRoles();
    this.Getoptions();
  },
};
</script>

<style lang="scss" scoped>
.el-icon-arrow-right {
  display: none;
}
.pad {
  padding: 0 15px;
}

.el-icon-arrow-right:before {
  content: "\e791";
}

.el-table__expand-icon--expanded .el-icon-arrow-right:before {
  content: "\e790";
}

.el-table__expand-icon--expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.roles {
  background-color: white;
  padding: $px15;
  .roles-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .roles-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>