<template>
  <div class="good">
    <div class="good-1">
      <div class="good-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
      <el-input
        style="width: 300px"
        placeholder="请输入内容"
        class="input-with-select"
        v-model="search"
      >
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="searchMethod"
        ></el-button>
      </el-input>
      <el-button type="success" plain @click="addGoods"> 添加商品 </el-button>
    </div>
    <div class="home-main-worp">
      <el-table :data="tableDatas.goods" border style="width: 100%">
        <el-table-column type="index" width="50"> </el-table-column>
        <el-table-column prop="goods_name" label="商品名称" width="760">
        </el-table-column>
        <el-table-column prop="goods_price" label="商品价格(元)" width="100">
        </el-table-column>
        <el-table-column prop="goods_number" label="商品重量" width="80">
        </el-table-column>
        <el-table-column label="创建日期" width="120">
          <template slot-scope="slot">
            {{ slot.row.add_time | handleDate }}
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="slot">
            <el-button
              type="primary"
              size="mini"
              plain
              circle
              @click="editGoods(slot.row)"
            >
              <i class="el-icon-edit"></i>
            </el-button>
            <el-button
              type="danger"
              size="mini"
              plain
              circle
              @click="delGood(slot.row)"
            >
              <i class="el-icon-delete"></i>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-dialog :visible.sync="PdialogVisible" width="50%" title="修改商品">
        <el-form label-width="100px" :model="EditGoods">
          <el-form-item label="商品名称">
            <el-input v-model="EditGoods.goods_name"></el-input> </el-form-item
          ><el-form-item label="商品价格">
            <el-input v-model="EditGoods.goods_price"></el-input> </el-form-item
          ><el-form-item label="商品数量">
            <el-input
              v-model="EditGoods.goods_number"
            ></el-input> </el-form-item
          ><el-form-item label="商品重量	">
            <el-input
              v-model="EditGoods.goods_weight"
            ></el-input> </el-form-item
          ><el-form-item label="商品参数">
            <el-input v-model="EditGoods.goods_cat"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="PdialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="UpdateGood">确 定</el-button>
        </span>
      </el-dialog>
      <div class="block">
        <el-pagination
          :current-page="params.pagenum"
          :page-sizes="[1, 3, 5, 10]"
          :page-size="params.pagesize"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager,next,jumper"
          :total="tableDatas.total"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
export default {
  name: "goods",
  data() {
    return {
      EditGoods: {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        pics: "",
        attrs: "",
        goods_cat: "",
      },
      PdialogVisible: false,
      search: "",
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10,
      },
      tableDatas: {
        goods: [],
      },
      breadCrumbObj: {
        second: "商品管理",
        third: "商品列表",
      },
    };
  },
  methods: {
    delGood(row) {
      this.$confirm("此操作将永久删除该商品，是否继续？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true,
      })
        .then(async () => {
          const deres = await this.$axios(
            `goods/${row.goods_id}`,
            {},
            "DELETE"
          );
          this.getgoods();
          this.$message({
            type: "success",
            message: deres.meta.msg,
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    async editGoods(row) {
      this.PdialogVisible = true;
      const eGoods = await this.$axios(`goods/${row.goods_id}`);
      this.EditGoods = eGoods.data;
    },
    async UpdateGood() {
      console.log(this.EditGoods);
      const Usce = await this.$axios(`goods/${this.EditGoods.goods_id}`,this.EditGoods,"PUT")
      this.$message({
        message : Usce.meta.msg,
        type : "success", 
      })
      this.PdialogVisible = false
      this.getgoods()
    },
    addGoods() {
      this.$router.push({ name: "AddGoods" });
    },
    // 搜索字段请求axios
    async searchMethod() {
      const res = await this.$axios("goods", {}, "GET", {
        ...this.params,
        query: this.search,
      });
      this.params.query = this.search;
      this.tableDatas = res.data;
    },
    // 页面跳转
    async handleSizeChange(val) {
      this.params.pagesize = val;
      setTimeout(async () => {
        const res = await this.$axios("goods", {}, "GET", {
          ...this.params,
          pagesize: val,
        });
        this.tableDatas = res.data;
      }, 100);
    },
    // 每条数据发生变化，获取商品列表
    async handleCurrentChange(val) {
      this.params.pagenum = val;
      const res = await this.$axios("goods", {}, "GET", {
        ...this.params,
        pagenum: val,
      });
      this.tableDatas = res.data;
    },
    // 获取商品列表
    async getgoods() {
      const res = await this.$axios("goods", {}, "GET", this.params);
      this.tableDatas = res.data;
    },
  },
  filters: {
    //时间过滤用dayjs
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD");
    },
  },
  created() {
    this.getgoods();
  },
};
</script>

<style lang="scss" scoped>
.el-input {
  width: 300px;
}
.good {
  background-color: white;
  padding: $px15;
  .good-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .good-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>