<template>
  <div class="roles">
    <div class="roles-1">
      <div class="roles-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
      <el-alert
        title="注意:只允许为第三级分类设置参数"
        type="warning"
        show-icon
        :closable="false"
      >
      </el-alert>
    </div>

    <div class="home-main-worp">
      <span>请选择商品分类</span>
      <el-cascader
        :props="prosdat"
        :options="datas"
        :show-all-levels="false"
        v-model="commod"
        @change="dynamic"
      ></el-cascader>
      <el-tabs v-model="activeName" @tab-click="iscommod">
        <el-tab-pane label="动态参数" name="first">
          <el-button size="mini" type="primary" :disabled="disabled"
            >设置动态参数</el-button
          >
          <el-table :data="dys" stripe style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="slot">
                <el-tag
                  :key="tag.id"
                  v-for="tag of slot.row.attr_vals.split(',')"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(tag, slot.row)"
                >
                  {{ tag }}
                </el-tag>
                <el-input
                  style="width: 73vw"
                  class="input-new-tag"
                  v-if="inputVisible"
                  v-model="inputValue"
                  ref="saveTagInput"
                  size="small"
                  @keyup.enter.native="handleInputConfirm"
                  @blur="handleInputConfirm(slot.row)"
                >
                </el-input>
                <el-button
                  v-else
                  class="button-new-tag"
                  size="small"
                  @click="showInput"
                  >+ New Tag</el-button
                >
              </template>
            </el-table-column>
            <el-table-column width="15"> </el-table-column>
            <el-table-column label="#" width="30"> </el-table-column>
            <el-table-column prop="attr_name" label="属性名称" width="180">
            </el-table-column>

            <el-table-column label="操作">
              <template slot-scope="slot">
                <el-button
                  type="primany"
                  size="mini"
                  plain
                  @click="showEditDialog(slot.row)"
                  ><i class="el-icon-edit"></i
                ></el-button>

                <el-button type="danger" size="mini" @click="Dremove(slot.row)"
                  ><i class="el-icon-delete"></i
                ></el-button>

                <el-dialog
                  :visible.sync="dialogVisible"
                  width="50%"
                  title="修改分类参数"
                >
                  <el-form label-width="100px" :model="addattr_name">
                    <el-form-item label="说明">
                      <el-input
                        disabled
                        placeholder="添加多个以逗号隔开"
                      ></el-input>
                    </el-form-item>
                    <el-form-item label="分类">
                      <el-input v-model="drow.attr_vals"></el-input>
                    </el-form-item>
                     <el-form-item label="名称">
                      <el-input v-model="drow.attr_name"></el-input>
                    </el-form-item>
                  </el-form>
                 
                  <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editAttrN"
                      >确 定</el-button
                    >
                  </span>
                </el-dialog>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="静态参数" name="second">
          <el-button size="mini" type="primary" :disabled="disabled"
            >设置静态参数</el-button
          >
          <el-table :data="Jds" stripe style="width: 100%">
            <el-table-column label="#" width="30"> </el-table-column>
            <el-table-column prop="attr_name" label="属性名称" width="180">
            </el-table-column>
            <el-table-column label="属性值" width="180"> </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="slot">
                <el-button
                  type="primany"
                  size="mini"
                  plain
                  @click="showEditDialog(slot.row)"
                  ><i class="el-icon-edit"></i
                ></el-button>
                <el-button type="danger" size="mini" @click="Dremove(slot.row)"
                  ><i class="el-icon-delete"></i
                ></el-button>
                <el-dialog
                  :visible.sync="PdialogVisible"
                  width="50%"
                  title="修改分类参数"
                >
                  <el-form label-width="100px" :model="addattr_name">
                    
                    <el-form-item label="名称">
                      <el-input v-model="drow.attr_name"></el-input>
                    </el-form-item>
                  </el-form>
                  <span slot="footer" class="dialog-footer">
                    <el-button @click="PdialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="editAttrN"
                      >确 定</el-button
                    >
                  </span>
                </el-dialog>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>
export default {
  name: "Roles",
  data() {
    return {
      PdialogVisible: false,
      addattr_name: {},
      dialogVisible: false,
      msage: null,
      cId: "",
      inputVisible: false,
      inputValue: "",
      dys: [],
      Jds: [],
      disabled: true,
      activeName: "first",
      prosdat: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
      },
      commod: [],
      breadCrumbObj: {
        second: "商品管理",
        third: "分类参数",
      },
      datas: [],
      drow: "",
    };
  },
  components: {},
  methods: {
    async editAttrN() {
      const rs = await this.$axios(
        `categories/${this.drow.cat_id}/attributes/${this.drow.attr_id}`,
        {
          attr_name: `${this.drow.attr_name}`,
          attr_sel: `${this.drow.attr_sel}`,
          attr_vals: `${this.drow.attr_vals}`,
        },
        "PUT"
      );
      this.dynamic();
      this.$message({
        message: rs.meta.msg,
        type: "success",
      });
      this.dialogVisible = false;
      this.PdialogVisible = false;
    },
    async showEditDialog(row) {
      this.drow = row;
      if (row.attr_sel == "only") {
        this.PdialogVisible = true;
      } else if (row.attr_sel == "many") {
        this.dialogVisible = true;
      }else{
        this.dialogVisible = false;
         this.PdialogVisible = false;
      }
    },
    async Dremove(row) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true,
      })
        .then(async () => {
          const rsa = await this.$axios(
            `categories/${row.cat_id}/attributes/${row.attr_id}`,
            {},
            "DELETE"
          );
          this.dynamic();
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    async iscommod() {
      if (this.commod.length < 1) {
        this.$message({
          message: "请选择三级分类",
          type: "warning",
          offset: 0,
        });
      }
    },
    // 添加动态参数或者静态属性 或者删除
    async Put(tag, row, method) {
      row.attr_vals = row.attr_vals.split(",");
      if (method == "add") {
        row.attr_vals.push(this.inputValue);
      } else {
        row.attr_vals.splice(row.attr_vals.indexOf(tag),1);
      }
      row.attr_vals = row.attr_vals.join(",");
      const rs = await this.$axios(
        `categories/${this.cId}/attributes/${row.attr_id}`,
        {
          attr_name: `${row.attr_name}`,
          attr_sel: `${row.attr_sel}`,
          attr_vals: `${row.attr_vals}`,
        },
        "PUT"
      );
      this.$message({
        message: rs.meta.msg,
        type: "success",
      });
    },
    async handleClose(tag, row) {
      this.Put(tag, row, "del");
    },
    showInput() {
      this.inputVisible = true;
    },
    handleInputConfirm(row) {
      this.Put("", row, "add");
      this.inputVisible = false;
      this.inputValue = "";
    },
    async dynamic() {
      this.cId = this.commod[2];
      if (this.commod.length > 2) {
        this.disabled = false;
        const res1 = await this.$axios(
          `categories/${this.cId}/attributes?sel=many`
        );
        this.dys = res1.data;
        const res2 = await this.$axios(
          `categories/${this.cId}/attributes?sel=only`
        );
        this.Jds = res2.data;
      }
    },
    async GetCategories() {
      const res = await this.$axios("categories?type=3");

      this.datas = res.data;
    },
  },

  created() {
    this.GetCategories();
    this.dynamic();
  },
};
</script>

<style lang="scss" scoped>
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  vertical-align: bottom;
}
.roles {
  background-color: white;
  padding: $px15;
  .roles-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .roles-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>