<template>
<span>
   <el-button type="primary" plain @click="dialogVisible = true" class="roleBtn"
    >添加角色
  </el-button>
<el-dialog title="新增角色" :visible.sync="dialogVisible" width="600px">
      <el-form
        :model="roleForm"
        :rules="rules"
        ref="roleForm"
        label-width="120px"
      >
        <el-form-item label="角色名" prop="roleName">
          <el-input v-model="roleForm.roleName"> </el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="roleForm.roleDesc"> </el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">取 消</el-button>
        <el-button type="primary" @click="addRole('roleForm')">确 定</el-button>
      </span>
    </el-dialog>

</span>
 
 
</template>

<script>
export default {
  props :{
     getList : {}
  },
  data() {
    return {
      roleForm: {
        roleName: "",
        roleDesc: "",
      },
      rules: {
        roleName: [
          { required: true, message: "请输入角色名", trigger: "blur" },
        ],
        roleDesc: [{ required: true, message: "请输入角色描述", trigger: "blur" }],
      },
      dialogVisible: false,
    };
  },
  methods: {
    close() {
      this.dialogVisible = false;
      this.$refs.roleForm.resetFields();
    },
    addRole(val) {
      this.$refs[val].validate(async (valid) => {
        if (valid) {
          const res = await this.$axios("roles", this.roleForm, "POST");
          this.getList()
          this.dialogVisible = false;
          this.$refs.roleForm.resetFields();
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
        } else {
          return false;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.roleBtn{
    margin-left:15px ;
}
</style>