<template>
  <span>
    <el-button
      plain
      size="small"
      type="danger"
      icon="el-icon-delete"
      circle
      class="pxLeft"
      @click="del(row.id)"
    ></el-button>
  </span>
</template>

<script>
export default {
  props: {
    row: {},
    getList: {},
  },
  methods: {
    async del(id) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true,
      })
        .then(async () => {
          const res = await this.$axios(`roles/${id}`, {}, "DELETE");
          this.getList();
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.pxLeft {
  margin-left: 9px;
}
</style>