<template>
  <span>
    <el-button
      size="small"
      type="success"
      icon="el-icon-check"
      circle
      plain
      class="pxLeft"
      @click="open(row.id)"
    ></el-button>
    <el-dialog title="角色授权" :visible.sync="dialogVisible" width="600px">
      <el-tree
        ref="tree"
        :data="data"
        node-key="id"
        show-checkbox
        :default-expand-all="true"
        :check-on-click-node="true"
        :props="defaultProps"
      >
      </el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">取 消</el-button>
        <el-button type="primary" @click="UpdateRAuthorization(row.id)"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </span>
</template>

<script>
export default {
  props: {
    row: {},
    getList: {},
    Datas: {},
  },
  data() {
    return {
      data: [],
      defaultProps: {
        children: "children",
        label: "authName",
      },
      trees: [],
      rids: [],
      dialogVisible: false,
    };
  },
  methods: {
    // 当点击按钮是触发请求用户rid和角色列表
    async open(id) {
      const res = await this.$axios("rights/tree");
      this.data = res.data;
      // this.trees.id = this.Datas.id
      this.trees = [];
      for (const item of this.Datas) {
        if (item.id == id) {
          for (const value of item.children) {       
            if (value.children.length >= 1) {
              for (const child of value.children) { 
                if (child.children.length >= 1) {
                  for (const cs of child.children) {
                     this.trees.push({ id: cs.id, label: cs.authName });
                  }
                }
              }
            }
          }
        }
      }
      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(this.trees);
      });

      this.dialogVisible = true;
    },
    // 关闭时状态设置false清空表单
    close() {
      this.dialogVisible = false;
    },
    async UpdateRAuthorization(roleId) {
      this.rids = [];
      this.rids = this.$refs.tree.getCheckedKeys().concat(this.$refs.tree.getHalfCheckedKeys())
      const res = await this.$axios(
        `roles/${roleId}/rights`,{rids:this.rids.reverse().join(",")},
        "POST"
      );
      this.getList();
      this.$message({
        message: res.meta.msg,
        type: "success",
      });
      this.dialogVisible = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.pxLeft {
  margin-left: 9px;
}
</style>