<template>
  <span>
    <el-button
      size="small"
      type="primary"
      icon="el-icon-edit"
      circle
      class="pxLeft"
      plain
      @click="open"
    ></el-button>
    <el-dialog title="编辑用户" :visible.sync="dialogVisible" width="600px">
      <el-form :model="roleForm" ref="roleForm" label-width="120px">
        <el-form-item label="角色ID">
          <el-input :disabled="true" v-model="roleForm.id"> </el-input>
        </el-form-item>
        <el-form-item label="角色名称">
          <el-input v-model="roleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述">
          <el-input v-model="roleForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">取 消</el-button>
        <el-button type="primary" @click="updateUser('roleForm', row.id)"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </span>
</template>

<script>
export default {
  props: {
    row: {},
    getList: {},
  },
  data() {
    return {
      roleForm: {},
      dialogVisible: false,
    };
  },
  methods: {
    open(rw) {
      this.roleForm = JSON.parse(JSON.stringify(this.row));
      this.dialogVisible = true;
    },
    close() {
      this.dialogVisible = false;
      this.$refs.roleForm.resetFields();
    },
    async updateUser(val, id) {
      const res = await this.$axios(`roles/${id}`, this.roleForm, "PUT");
      this.getList();
      this.dialogVisible = false;
      this.$refs.roleForm.resetFields();
      this.$message({
        message: res.meta.msg,
        type: "success",
      });
    },
  },
  created() {},
};
</script>

<style>
</style>