<template>
  <div class="roles">
    <div class="roles-1">
      <div class="roles-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
    </div>
    <div class="home-main-worp">
      <el-table :data="tableDatas" border style="width: 100%">
        <el-table-column type="index" width="50" label="#"></el-table-column>
        <el-table-column prop="authName" label="权限名称" width="180">
        </el-table-column>
        <el-table-column prop="path" label="路径" width="180">
        </el-table-column>
        <el-table-column prop="level" label="层级" >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
export default {
  name: "Rights",
  data() {
    return {
      tableDatas: [],
      breadCrumbObj: {
        second: "权限管理",
        third: "权限列表",
      },
    };
  },
  methods: {
    async GetRights(){
      const res = await this.$axios('rights/list')
      this.tableDatas= res.data
      for (const item of this.tableDatas) {
        if (item.level =="0") {
          item.level = "一级"
        }else if (item.level =="1") {
          item.level = "二级"
        }else if (item.level =="2") {
          item.level = "三级"
        }
      }
      console.log(res)
    }
  },
  created () {
    this.GetRights()
  }
};
</script>

<style lang="scss" scoped>
.roles {
  background-color: white;
  padding: $px15;
  .roles-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .roles-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>