<template>
  <div class="roles">
    <div class="roles-1">
      <div class="roles-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
    </div>
    <RAdd :getList="Rlist" />
    <div class="home-main-worp">
      <el-table :data="tableDatas" border style="width: 100%">
        <el-table-column type="expand">
          <template slot-scope="slot">
            <el-row
              v-for="item in slot.row.children"
              :key="item.id"
              :gutter="24"
              class="el-row"
              type="flex"
            >
              <el-col :span="4">
                <el-tag
                  :key="item.authName"
                  closable
                  @close="handleClose(slot.row.id, item.id)"
                  type=""
                >
                  {{ item.authName }}
                </el-tag>
                >
              </el-col>
              <el-col :span="20">
                <el-row
                  v-for="tag in item.children"
                  :key="tag.id"
                  :gutter="24"
                  class="el-row"
                  type="flex"
                >
                  <el-col :span="4">
                    <el-tag
                      @close="handleClose(slot.row.id, tag.id)"
                      :key="tag.authName"
                      closable
                      type="success"
                    >
                      {{ tag.authName }} </el-tag
                    >>
                  </el-col>
                  <el-col :span="20">
                    <el-tag
                      v-for="sans in tag.children"
                      @close="handleClose(slot.row.id, sans.id)"
                      :key="sans.authName"
                      closable
                      type="warning"
                    >
                      {{ sans.authName }}
                    </el-tag>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
        <el-table-column type="index" width="50" label="#"></el-table-column>
        <el-table-column prop="roleName" label="角色名称" width="360">
        </el-table-column>
        <el-table-column prop="roleDesc" label="角色描述" width="360">
        </el-table-column>
        <el-table-column label="操作"
          >\
          <template slot-scope="scope">
            <RUpdate :row="scope.row" :getList="Rlist" />
            <Rdel :row="scope.row" :getList="Rlist" />
            <RAuthorization
              :row="scope.row"
              :getList="Rlist"
              :Datas="tableDatas"
            />
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import RAdd from "../../components/roles/Add";
import RUpdate from "../../components/roles/Update";
import Rdel from "../../components/roles/Del";
import RAuthorization from "../../components/roles/RAuthorization";
export default {
  name: "Roles",
  data() {
    return {
      Rlist: this.getRoles,
      tableDatas: [],
      breadCrumbObj: {
        second: "权限管理",
        third: "角色列表",
      },
    };
  },
  components: {
    RAdd,
    RUpdate,
    Rdel,
    RAuthorization,
  },
  methods: {
    // 获取角色列表
    async getRoles() {
      const res = await this.$axios("roles");
      this.tableDatas = res.data;
    },
    async handleClose(roleId, rightId) {
      const res = await this.$axios(
        `roles/${roleId}/rights/${rightId}`,
        {},
        "DELETE"
      );
      this.$message({
        message: res.meta.msg,
        type: "success",
      });
      this.getRoles();
    },
  },
  created() {
    this.getRoles();
  },
};
</script>

<style lang="scss" scoped>
.roles {
  background-color: white;
  padding: $px15;
  .roles-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .roles-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>