<template>
  <div class="orders">
    <div class="orders-1">
      <div class="orders-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
    </div>
    <div class="home-main-worp">
      <el-table :data="tableDatas.goods" border style="width: 100%">
        <el-table-column type="index" width="50" label="#"> </el-table-column>
        <el-table-column prop="order_number" label="订单编号" width="300">
        </el-table-column>
        <el-table-column prop="order_price" label="订单价格" width="120">
        </el-table-column>
        <el-table-column prop="pay_status" label="是否付款" width="120">
          <template slot-scope="slot">
            <el-tag type="danger" v-if="slot.row.pay_status == '0'"
              >未付款</el-tag
            >
            <el-tag type="danger" v-else>已付款</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="is_send" label="是否发货" width="180">
        </el-table-column>
        <el-table-column label="创建日期" width="200">
          <template slot-scope="slot">
            {{ slot.row.create_time | handleDate }}
          </template>
        </el-table-column>

        <el-table-column label="操作">
          <template slot-scope="slot">
            <el-button
              type="primary"
              plain
              size="mini"
              @click="Uporders(slot.row)"
              ><i class="el-icon-edit"></i
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-dialog
      title="修改地址"
      :visible.sync="dialogVisible"
      width="50%"
    >
      <el-form
        :model="addressForm"
        :rules="addressFormRules"
        ref="addressFormRef"
        label-width="100px"
      >
        <el-form-item label="省市区/县" prop="address1">
          <el-cascader
           
            :options="cityData"
            :props="{ expandTrigger: 'hover' }"
          ></el-cascader>
        </el-form-item>
        <el-form-item label="详细地址" prop="address2">
          <el-input></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
      <div class="block">
        <el-pagination
          :current-page="params.pagenum"
          :page-sizes="[1, 3, 5, 10]"
          :page-size="params.pagesize"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager,next,jumper"
          :total="tableDatas.total"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import cityData from './city.js'
import dayjs from "dayjs";
export default {
  name: "Orders",
  data() {
    return {
      cityData,
      options: [
        
      ],
      dialogVisible: false,
      params: {
        pagenum: 1,
        pagesize: 10,
      },
      tableDatas: {
        goods: [],
      },
      breadCrumbObj: {
        second: "用户管理",
        third: "用户列表",
      },
      addressForm: {
        address1: [],
        address2: ''
      },
       addressFormRules: {
        address1: [
          { required: true, message: '请选择省市区县', trigger: 'blur' }
        ],
        address2: [
          { required: true, message: '请输入详细地址', trigger: 'blur' }
        ]
      },
    };
  },

  methods: {
    // 页面跳转
    async handleSizeChange(val) {
      this.params.pagesize = val;
      setTimeout(async () => {
        const res = await this.$axios("orders", {}, "GET", {
          ...this.params,
          pagesize: val,
        });
        this.tableDatas = res.data;
      }, 100);
    },
    // 每条数据发生变化，获取订单列表
    async handleCurrentChange(val) {
      this.params.pagenum = val;
      const res = await this.$axios("orders", {}, "GET", {
        ...this.params,
        pagenum: val,
      });
      this.tableDatas = res.data;
    },
    // 获取订单列表
    async getorders() {
      // http://localhost:8889/api/private/v1/orders?pagenum=1&pagesize=10
      const res = await this.$axios("orders", {}, "GET", this.params);
      this.tableDatas = res.data;
      console.log(res);
    },
    async Uporders(row) {
      this.dialogVisible = true;
      console.log(row);
    },
  },
  filters: {
    //时间过滤用dayjs
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD HH:mm:ss");
    },
  },
  created() {
    this.getorders();
  },
};
</script>

<style lang="scss" scoped>
.orders {
  background-color: white;
  padding: $px15;
  .orders-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .orders-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>