<template>
<span>
   <el-button type="primary" @click="dialogVisible = true"
    >添加用户

    
  </el-button>
<el-dialog title="新增用户" :visible.sync="dialogVisible" width="600px">
      <el-form
        :model="userForm"
        :rules="rules"
        ref="userForm"
        label-width="120px"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="userForm.username"> </el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input type="password" v-model="userForm.password"> </el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="userForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input type="email" v-model="userForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">取 消</el-button>
        <el-button type="primary" @click="addUser('userForm')">确 定</el-button>
      </span>
    </el-dialog>

</span>
 
 
</template>

<script>
export default {
  props :{
     getList : {}
  },
  data() {
    var validateName = (rule, value, callback) => {
      let pattern = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!pattern.test(value)) {
        callback(new Error("用户名不合法"));
      } else {
        callback();
      }
    };
    var validateEmail = (rule,value,callback) =>{
      let pattern = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((.[a-zA-Z0-9_-]{2,3}){1,2})$/
      if(!pattern.test(value)){
        callback(new Error('邮箱格式错误'));
      }else{
        callback()
      }
    }
    return {
      userForm: {
        username: "",
        password: "",
        email: "",
        mobile: "",
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { validator: validateName, trigger: "change" },
        ],
        password: [{ required: true, message: "密码不能为空", trigger: "blur" }],
        email: [ { validator: validateEmail, trigger: "change" },],
        mobile: [],
      },
      dialogVisible: false,
    };
  },
  methods: {
    close() {
      this.dialogVisible = false;
      this.$refs.userForm.resetFields();
    },
    async changeStatus(row, index) {
      const res = await this.$axios(
        `users/${row.id}/state/${row.mg_state}`,
        {},
        "PUT"
      );
    },
    addUser(val) {
      this.$refs[val].validate(async (valid) => {
        if (valid) {
          const res = await this.$axios("users", this.userForm, "POST");
          this.getList()
          this.dialogVisible = false;
          this.$refs.userForm.resetFields();
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
        } else {
          return false;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>