<template>
  <span>
    <el-button
      size="small"
      type="success"
      icon="el-icon-check"
      circle
      class="pxLeft"
      @click="open(row.id)"
    ></el-button>
    <el-dialog title="分配角色" :visible.sync="dialogVisible" width="600px">
      <el-form :model="userForm" ref="userForm" label-width="120px">
        <el-form-item label="用户名">
          <el-input :disabled="true" v-model="userForm.username"> </el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="rid" placeholder="请选择">
            <el-option :value=-1 label="请选择" ></el-option>
            <el-option
              v-for="item in roles"
              :label="item.roleName"
              :key=" item.id"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">取 消</el-button>
        <el-button type="primary" @click="updateUser(row.id, rid)"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </span>
</template>

<script>
export default {
  props: {
    row: {},
    getList : {}
  },
  data() {
    return {
      rid: '',
      roles : {},
      userForm: {
        username: this.row.username,
      },
      dialogVisible: false,
    };
  },
  methods: {
    // 当点击按钮是触发请求用户rid和角色列表
    async open(id) {
      this.dialogVisible = true;
      const res = await this.$axios("roles");
      const res1 = await this.$axios(`users/${id}`)
      this.rid = res1.data.rid
      this.roles = res.data
    },
    // 关闭时状态设置false清空表单
    close() {
      this.dialogVisible = false;
      this.$refs.userForm.resetFields();
    },
    async updateUser(id, rid) {
      const res = await this.$axios(`users/${id}/role`,{rid:rid}, "PUT");
      this.dialogVisible = false;
      this.$refs.userForm.resetFields();
      this.getList()
      this.$message({
        message: res.meta.msg,
        type: "success",
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.pxLeft {
  margin-left: 9px;
}
</style>