<template>
<span>
  <el-button
              size="small"
              type="primary"
              icon="el-icon-edit"
              circle
              class="pxLeft"
               @click="open"
               
            ></el-button>
<el-dialog title="编辑用户" :visible.sync="dialogVisible" width="600px">
      <el-form
        :model="userForm"
        ref="userForm"
        label-width="120px"
      >
        <el-form-item  label="用户名">
          <el-input :disabled="true" v-model="userForm.username"> </el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input v-model="userForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input type="email" v-model="userForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">取 消</el-button>
        <el-button type="primary" @click="updateUser('userForm',row.id)">确 定</el-button>
      </span>
    </el-dialog>

</span>
 
 
</template>

<script>
export default {
  props : {
    row : {
    },
    getList : {}
  },
  data() {
    return {
      userForm: {},
      dialogVisible: false,
    };
  },
  methods: {
    open(rw){
      this.userForm = JSON.parse(JSON.stringify(this.row)) 
      this.dialogVisible = true
    },
    close() {
      this.dialogVisible = false;
      this.$refs.userForm.resetFields();
    },
    async updateUser(val,id) {
          const res = await this.$axios(`users/${id}`,this.userForm, "PUT");
          this.getList()
          this.dialogVisible = false;
          this.$refs.userForm.resetFields();
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
    },
  },
  created(){
  }
};
</script>

<style>
</style>