<template>
  <el-container class="home" style="height: 100vh">
    <el-aside
      style="width: 200px; background-color: rgb(0, 21, 41); overflow-x: hidden"
      
    >
      <h3 class="home-logo">后台管理</h3>
      <el-menu
        :default-active="defaultActive"
        style="width: 200px"
        background-color="#001529"
        active-text-color="#FFFFFF"
        text-color="rgb(160,161,163)"
        router
        unique-opened
      >
        <el-submenu
          :index="'' + index"
          v-for="(item, index) in menus"
          :key="item.id"
        >
          <template slot="title">
            <i
              v-if="item.authName == '用户管理'"
              class="el-icon-user-solid"
            ></i>
            <i v-else-if="item.authName == '权限管理'" class="el-icon-more"></i>
            <i
              v-else-if="item.authName == '商品管理'"
              class="el-icon-s-goods"
            ></i>
            <i
              v-else-if="item.authName == '订单管理'"
              class="el-icon-s-order"
            ></i>
            <i
              v-else-if="item.authName == '数据统计'"
              class="el-icon-s-data"
            ></i>
            <i v-else class="el-icon-message"></i>
            {{ item.authName }}
          </template>
          <el-menu-item
            :index="'/'+ _item.path"
            v-for="_item in item.children"
            :key="_item.id"
          >
            {{ _item.authName }}
            </el-menu-item>
        </el-submenu>
      </el-menu>
    </el-aside>

    <el-container>
      <el-header class="logoheader" style="text-align: right; font-size: 12px">
        <el-radio-group >
          <!-- <el-radio-button :label="false"><i class="el-icon-s-fold"> </i>
          </el-radio-button>
          <el-radio-button :label="true"><i class="el-icon-s-fold"> </i>
          </el-radio-button> -->
          <i class="el-icon-s-fold"> </i>
          <i class="el-icon-s-unfold"></i>
        </el-radio-group>

        <el-dropdown>
          <i class="el-icon-setting" style="margin-right: 15px"></i>
          <div class="logodown">
            
          </div>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              ><a href="#" @click.prevent="logout">退出</a></el-dropdown-item
            >
          </el-dropdown-menu>
        </el-dropdown>
        <span>{{this.$store.state.username}}</span>
      </el-header>

      <el-main class="home-main">
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  data() {
    return {
      menus: [],
      defaultActive: '/users',
    }
  },
  watch : {
    $route:{
      deep : true,
      immediate : true,
      handler(current){
        this.defaultActive = current.path
      }
    }
  },
  methods: {
    logout() {    
          //确认退出，清除token
          localStorage.removeItem("token");
          //跳转登录页面(编程式导航)
          this.$router.push({ name: "Login" });
    },
    async getRights() {
      const res = await this.$axios("menus");
      this.menus = res.data;
    },
  },
  created() {
    this.getRights();
  },
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
  color: #333;
}
.home {
  font-size: 100%;
  .el-header {
    background-color: #fff;
    color: #333;
    line-height: 60px;
  }
  .el-aside {
    color: #333;
  }
  .home-logo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .home-main {
    background-color: rgb(238, 238, 238);
  }
  .logoheader {
    padding: 0 20px;
    .el-icon-s-fold:before {
      content: "\e7a9";
      font-size: 20px;
    }
    .el-icon-s-unfold:before {
      content: "\e7a9";
      font-size: 20px;
    }
    .logodown {
      width: calc(100vw - 333px);
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
  }
}
</style>



