<template>
  <div class="login">
    <div class="login-card">
      <h3 class="login-card-title">欢迎登陆</h3>
      <el-form
        :model="userForm"
        :rules="rules"
        ref="userForm"
        class="login-card-form"
        size="small"
      >
        <el-form-item prop="username">
          <el-input placeholder="请输入账号" v-model="userForm.username">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            type="password"
            placeholder="请输入密码"
            v-model="userForm.password"
          >
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" class="width100" @click="login('userForm')"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    var validateName = (rule, value, callback) => {
      let pattern = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!pattern.test(value)) {
        callback(new Error("用户名必须是4-16位"));
      } else {
        callback();
      }
    };
    return {
      userForm: {
        username: "",
        password: "",
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          // { min: 3, max: 7, message: '长度在 5 到 10 个字符 ', trigger: 'blur' },
          { validator: validateName, trigger: "change" },
          // { pattern: '^[a-z]{1}[a-z]{2,6}$',message: '账号格式不对 小写字母开头结束' }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
    };
  },
  methods: {
    login(formName) {
       this.$store.commit('SET_USERNAME',this.userForm.username)
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          //http://pc.raz-kid.cn/#/login
          const res = await this.$axios("login",this.userForm,"POST");
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
          this.$store.commit('SET_TOKEN',res.data.token)
          this.$router.push({name:'Home'})
        } else {
          return false;
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .login-card {
    width: 300px;
    background-color: #fff;
    margin-right: 160px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 15px;
    .login-card-title {
      padding: 0 15px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid #ccc;
      font-weight: 700;
      font-size: 14px;
    }
  }
  .login-card-form {
    padding: 15px;
    .width100 {
      width: 100%;
    }
  }
}
</style>
