<template>
    <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{path : '/'} ">首页</el-breadcrumb-item>
          <el-breadcrumb-item>{{breadCrumbObj.second}}</el-breadcrumb-item>
          <el-breadcrumb-item>{{breadCrumbObj.third}}</el-breadcrumb-item>
    </el-breadcrumb>
</template>

<script>
export default {
    props : {
        breadCrumbObj :{
            type : Object,
        }
    }
}
</script>

<style>

</style>