<template>
<div>
   <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
  <div class="gos">
      <div id="eachers" style="width: 800px; height: 600px"></div>
  </div>
</div>
</template>




<script>
export default {
  data() {
    return {
       breadCrumbObj: {
        second: "数据统计",
        third: "数据报表",
      },
    };
  },
  methods: {
    init: function () {
      this.myChart = this.$echarts.init(document.getElementById("eachers"));
      var option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
          },
        ],
        yAxis: [
          {
            type: "",
          },
        ],
        series: [
          {
            name: "邮件营销",
            type: "line",
            stack: "总量",
            areaStyle: {},
            data: [120, 132, 101, 134, 90, 230, 210],
          },
          {
            name: "联盟广告",
            type: "line",
            stack: "总量",
            areaStyle: {},
            data: [220, 182, 191, 234, 290, 330, 310],
          },
          {
            name: "视频广告",
            type: "line",
            stack: "总量",
            areaStyle: {},
            data: [150, 232, 201, 154, 190, 330, 410],
          },
          {
            name: "直接访问",
            type: "line",
            stack: "总量",
            areaStyle: {},
            data: [320, 332, 301, 334, 390, 330, 320],
          },
          {
            name: "搜索引擎",
            type: "line",
            stack: "总量",
            areaStyle: {},
            data: [820, 932, 901, 934, 1290, 1330, 1320],
          },
        ],
      };




      this.myChart.setOption(option);
    },
    async getreports() {
      let res = await this.$axios("reports/type/1")
      this.option = {...this.option, xAxis: res.data.xAxis, legend: res.data.legend, yAxis: res.data.yAxis, series: res.data.series}
      this.myChart.setOption(this.option)
    },
  },
  mounted() {
    this.init();
    this.getreports();
  },
};
</script>




<style lang="scss" scoped>
 .gos{
     padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
 }
</style>