<template>
  <div class="user">
    <div class="user-1">
      <div class="user-title">
        <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
      </div>
      <el-input
        placeholder="请输入内容"
        class="input-with-select"
        v-model="search"
      >
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="searchMethod"
        ></el-button>
      </el-input>
      <Uadd  :getList="Ulist" />
    </div>
    <div class="home-main-worp">
      <el-table :data="tableDatas.users" border style="width: 100%">
        <el-table-column type="index" width="50"> </el-table-column>
        <el-table-column prop="username" label="姓名" width="180">
        </el-table-column>
        <el-table-column prop="email" label="邮箱" width="180">
        </el-table-column>
        <el-table-column prop="mobile" label="电话" width="180">
        </el-table-column>
        <el-table-column label="创建日期" width="180">
          <template slot-scope="slot">
            {{ slot.row.create_time | handleDate }}
          </template>
        </el-table-column>

        <el-table-column label="用户状态" width="180">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.mg_state"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="changeStatus(scope.row, scope.$index)"
            ></el-switch>
          </template>
        </el-table-column>

        <el-table-column label="操作">
          <template slot-scope="scope">
            <Uupdate :row="scope.row" :getList="Ulist" />
            <Udel :row="scope.row" :getList="Ulist" />
            <Usetrole :row="scope.row" :getList="Ulist" />
          </template>
        </el-table-column>
      </el-table>
      <div class="block">
        <el-pagination
          :current-page="params.pagenum"
          :page-sizes="[1, 3, 5, 10]"
          :page-size="params.pagesize"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager,next,jumper"
          :total="tableDatas.total"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import Uadd from "../../components/users/Add"
import Uupdate from "../../components/users/Update"
import Udel from "../../components/users/Del"
import Usetrole from "../../components/users/SetRole"
import dayjs from "dayjs";
export default {
  name: "Users",
  data() {
    return {
      Ulist: this.getUsers,
      search: "",
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10,
      },
      tableDatas: {
        users: [],
      },
      isCollapse: true,
      breadCrumbObj: {
        second: "用户管理",
        third: "用户列表",
      },
    };
  },
  components :{
    Uadd,
    Uupdate,
    Udel,
    Usetrole
  },
  methods: {
    // 用户状态改变后发起ajax请求
    async changeStatus(obj, index) {
      const res = await this.$axios(
        `users/${obj.id}/state/${obj.mg_state}`,
        {},
        "PUT"
      );
      this.$message({
        message: res.meta.msg,
        type: "success",
      });
    },
    // 搜索字段请求axios
    async searchMethod() {
      const res = await this.$axios("users", {}, "GET", {
        ...this.params,
        query: this.search,
      });
      this.params.query = this.search;
      this.tableDatas = res.data;
    },
    // 页面跳转
    async handleSizeChange(val) {
      this.params.pagesize = val;
      setTimeout(async () => {
        const res = await this.$axios("users", {}, "GET", {
          ...this.params,
          pagesize: val, 
        });
        this.tableDatas = res.data;
      }, 100);
    },
    // 每条数据发生变化，获取用户列表
    async handleCurrentChange(val) {
      this.params.pagenum = val;
      const res = await this.$axios("users", {}, "GET", {
        ...this.params,
        pagenum: val,
      });
      this.tableDatas = res.data;
    },
    // 获取用户列表
    async getUsers() {
      const res = await this.$axios("users", {},
       "GET", this.params);
      this.tableDatas = res.data;
    },
  },
  filters: {
    //时间过滤用dayjs
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD HH:mm:ss");
    },
  },
  created() {
    console.log();
    this.getUsers();
  },
};
</script>

<style lang="scss" scoped>
.user {
  background-color: white;
  padding: $px15;
  .user-1 {
    padding-left: 15px;
    .input-with-select {
      width: 264px;
      height: 40px;
      margin-right: 30px;
    }
    .user-title {
      margin-bottom: $px15;
    }
  }
  .home-main-worp {
    padding: $px15;
    border-color: #fff;
    border-radius: 5px;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    overflow-x: auto;
  }
}
</style>